@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=M+PLUS+1p&display=swap');

@mixin media($value) {
    @if ($value < 0) {
        @media screen and (min-width: calc($value * (-1)) + 'px') {
            @content;
        }

    } @else {
        @media screen and (max-width: $value + 'px') {
            @content;
        }
    }
}

$font-pt-sans: "PT Sans", sans-serif;
$font-m-plus-1p: "M PLUS 1p", sans-serif;
$font-exo-2: "Exo 2", sans-serif;

$color-dark-100: #070707;
$color-blue-100: #110936;
$color-red-100: #F82179;
$color-gray-100: #BEBEBE;
$color-gray-200: #F5F5F5;
$color-gray-300: #888888;
$color-gray-400: #989898;
$color-gray-500: #757575;

$color-gr-red: linear-gradient(to right, #C70253, #F82179);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent !important;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}


img {
    max-width: 100%;
}

span, label {
    display: inline-block;
}

html {
    scroll-behavior: smooth;
}

input, textarea {
    outline: none;
    border: 0;
    background: transparent;
}

button {
    border: none;
    cursor: pointer;
    background: transparent;
    outline: 0;
}

address {
    font-style: normal;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

ul, ol, dl {
    list-style: none;
    padding: 0;
    margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

body {
    font-family: $font-pt-sans;
    font-weight: 400;
}

.container {
    padding: 0;

    @include media(575) {
        width: calc(100% - 36px);
    }
}

.font {
    &-m-plus-1p {
        font-family: $font-m-plus-1p;
    }

    &-exo-2 {
        font-family: $font-exo-2;
    }
}

.fs {
    &-h1 {
        font-size: 38px;
        line-height: 126%;
    }

    &-h2 {
        font-size: 36px;
        line-height: 125%;
        color: $color-blue-100;
        font-weight: bold;
    }

    &-h3 {
        font-size: 28px;
        line-height: 125%;
    }

    &-h6 {
        font-size: 24px;
        line-height: 125%;
    }

    &-p1 {
        font-size: 22px;
        line-height: 125%;
    }

    &-p2 {
        font-size: 20px;
        line-height: 138.8%;
    }

    &-p3 {
        font-size: 18px;
        line-height: 137.4%;
    }
    
    &-p4 {
        line-height: 137.4%;
        font-size: 16px;
    }

    &-p5 {
        font-size: 14px;
    }

    &-p6 {
        font-size: 12px;
    }
}

.btn {
    &-red {
        background: $color-red-100;
        text-align: center;
        padding: 10px 36px;
        color: #fff;
        border-radius: 10px;
        cursor: pointer;
        user-select: none;
    }

    &-dark {
        background: $color-dark-100;
        color: #fff;
        border-radius: 10px;
        padding: 13px 46px 14px;
        font-family: $font-m-plus-1p;
        font-style: 20px;
        font-weight: 500;
    }

    &-gray {
        background: $color-gray-400;
        border-radius: 10px;
        padding: 10px 68px;
        color: white;
    }
}

section {
    margin-bottom: 60px;
}

.inp {
    &-gray {
        width: 100%;
        background: $color-gray-200;
        font-size: 20px;
        line-height: 125%;
        padding: 13px 20px;
        border-radius: 10px;
        color: $color-blue-100;

        @include media(991) {
            font-size: 16px;
            padding: 13px 20px 18px;
        }
        
        &::placeholder {
            color: $color-gray-500;
        }
    }
}

.range_inp {
    label {
        margin-bottom: 41px;

        @include media(767) {
            font-size: 18px;
        }
    }

    &__slide {
        width: 100%;
        height: 8px;
        background: $color-gray-200;
        margin-bottom: 2px;
        border-radius: 50px;
        position: relative;

        &_line {
            position: absolute;
            top: 0;
            left: 0;
            height: 8px;
            width: 30%;
            background: $color-red-100;
            border-radius: 50px;
        }

        span {
            font-size: 20px;
            line-height: 125%;
            position: absolute;
            top: -5px;
            left: 30%;
            transform: translate(-50%, -100%);
            background: $color-gray-200;
            padding: 1px 15px;
            border-radius: 50px;
            user-select: none;
            cursor: ew-resize;
        }

        input {
            width: 100%;
            position: absolute;
            left: 0;
            height: 8px;
            opacity: 0;
            cursor: pointer;

            &::-webkit-slider-thumb {
                cursor: ew-resize;
            }
        }
    }
}

// Main modal
.main_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 10;

    &.active {
        display: flex;
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
    }

    &__content {
        position: relative;
        z-index: 2;

        .swiper {
            width: 1020px;

            @include media(1199) {
                width: 960px;
            }

            @include media(991) {
                width: 720px;
            }

            @include media(767) {
                width: calc(100vw - 36px);
            }

            &-slide:not(.swiper-slide-active) {
                height: 0;
                overflow: hidden;
            }
        }

        &_in {
            background: #fff;
            width: 1020px;
            min-height: 727px;
            border-radius: 30px;
            padding: 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @include media(1199) {
                width: 960px;
                min-height: 673px;
                padding: 38px 60px;
            }

            @include media(991) {
                width: 720px;
                min-height: 577px;
                padding: 30px;
                border-radius: 20px;
            }

            @include media(767) {
                width: calc(100vw - 36px);
                min-height: 778px;
                padding: 36px 20px 30px;
            }
        }

        &_foot {
            gap: 10px;

            button {
                width: 196px;
                height: 47px;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;

                @include media(767) {
                    width: 100% !important;
                }
            }

            .btn-red {
                width: auto;
                padding: 0 67px;
            }
        }
    }

    &__subtitle {
        color: $color-blue-100;
        margin-bottom: 30px;

        @include media(767) {
            font-size: 18px;
            margin-bottom: 20px;
        }
    }
}
// Main modal end

// Quiz modal
.modal_quiz {
    &__content {
        color: $color-blue-100;

        h3 {
            color: $color-red-100;
            margin-bottom: 30px;

            @include media(767) {
                margin-bottom: 20px;
            }
        }

        .range_inp {
            margin-bottom: 20px;
        }
    }

    &__select {
        &_wrap {
            @include media(991) {
                height: 341px;
                overflow-y: scroll;

                &::-webkit-scrollbar {
                    display: none;
                }
            }

            @include media(767) {
                height: 437px;
            }
        }

        &_card {
            box-shadow: 0 4px 20px rgba(170, 170, 170, 0.2);
            border-radius: 10px;
            text-align: center;
            min-height: 205px;
            position: relative;
            padding-top: 33px;
            user-select: none;
            cursor: pointer;
            border: 2px solid transparent;

            @include media(1199) {
                min-height: 183px;
                padding-top: 30px;
            }

            @include media(767) {
                min-height: 148px;
            }

            img {
                width: 100%;
                height: 119px;
                object-fit: contain;

                @include media(1199) {
                    height: 106px;
                }

                @include media(767) {
                    height: 87px;
                }
            }

            &.first {
                img {
                    height: 105px;

                    @include media(1199) {
                        height: 93px;
                    }

                    @include media(767) {
                        height: 64px;
                    }
                }
            }

            p {
                position: absolute;
                bottom: 18px;
                left: 18px;
                width: calc(100% - 36px);

                @include media(1199) {
                    bottom: 15px;
                    left: 10px;
                    width: calc(100% - 20px);
                }

                @include media(767) {
                    bottom: 10px;
                    left: 6px;
                    width: calc(100% + 12px);
                    font-size: 14px;
                }
            }

            &.active {
                border-color: $color-red-100;
            }
        }
    }

    &__prices {
        &_card {
            background: $color-gray-200;
            padding: 12px 38px 27px;
            text-align: center;
            border-radius: 10px;
            cursor: pointer;
            user-select: none;

            @include media(991) {
                padding: 15px 11px 38px;
            }

            @include media(767) {
                display: flex;
                align-items: center;
                gap: 15px;
                padding: 12px 20px;
            }

            img {
                margin-bottom: 10px;

                @include media(991) {
                    height: 39px;
                }

                @include media(767) {
                    height: 30px;
                }

                &.active {
                    display: none;
                    margin-bottom: 10px;

                    @include media(767) {
                        margin-bottom: 0;
                    }
                }
            }

            p {
                @include media(991) {
                    font-size: 16px;
                }

                @include media(767) {
                    text-align: left;
                }

                @include media(450) {
                    line-height: 100% !important;
                }
            }

            .price {
                display: none;
                margin-top: 10px;

                @include media(767) {
                    margin-top: 5px;
                }
            }

            &.active {
                background: $color-red-100;
                color: white;

                img {
                    display: none;

                    &.active {
                        display: inline;
                    }
                }

                .price {
                    display: block;
                }
            }
        }
    }

    &__foot {
        .price_wrap {
            background: $color-gray-200;
            border-radius: 10px;
            padding: 14px 20px 12px;

            @include media(450) {
                flex-direction: column !important;
                padding: 14px 20px 20px;
            }
        }

        ul {
            gap: 3px;

            @include media(450) {
                width: 100%;
                border-bottom: 1px solid #E3E3E3;
                padding-bottom: 5px;
                margin-bottom: 16px;
            }

            li {
                @include media(1199) {
                    font-size: 14px;
                }
            }
        }

        h4 {
            color: $color-red-100;

            @include media(450) {
                width: 100%;
            }
        }

        p {
            margin: 10px 0 20px;

            @include media(991) {
                font-size: 14px;
            }
        }
    }

    &__form {
        gap: 20px;
        padding-top: 20px;
        margin-bottom: 18px;

        @include media(991) {
            gap: 10px;
        }

        @include media(767) {
            margin-bottom: 10px;
        }

        label {
            margin-bottom: 10px;

            @include media(991) {
                font-size: 18px;
            }
        }

        @include media(991) {
            margin-top: 10px;
        }
    }

    &__checkbox {
        gap: 10px;
        user-select: none;
        cursor: pointer;
        
        input {
            display: none;
        }

        .icon {
            width: 19px;
            height: 19px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            border: 1px solid $color-red-100;
            border-radius: 2px;

            img {
                display: none;
            }
        }

        input:checked + .icon img {
            display: block;
        }

        a {
            text-decoration: underline;
        }
    }
}
// Quiz modal end

// Order modal
.modal_order {
    color: $color-blue-100;

    &__content {
        @include media(1199) {
            min-height: 701px;
        }

        @include media(991) {
            min-height: 657px;
        }

        @include media(767) {
            padding: 36px 30px 30px;
            min-height: 778px;
        }
    }

    .order_card {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;

        @include media(767) {
            margin-top: 25px;
        }

        @include media(450) {
            margin-bottom: 15px;
        }

        &__head {
            margin: 20px 0 11px;
            color: $color-gray-400;

            @include media(1199) {
                margin: 25px 0 11px;
            }
        }

        &__item {
            background: $color-gray-200;
            border-radius: 10px;
            padding-top: 5px;
            padding-bottom: 6px;
            color: $color-blue-100;

            @include media(767) {
                padding-top: 10px;
                padding-bottom: 21px;
            }

            @include media(450) {
                padding-top: 11px;
                padding-bottom: 11px;
            }

            h3 {
                margin-bottom: 5px;
            }

            p {
                @include media(991) {
                    font-size: 16px;
                }
            }

            .text_left {
                gap: 5px;
                position: relative;

                @include media(767) {
                    padding-top: 14px;
                    padding-left: 110px;
                }

                @include media(767) {
                    padding-top: 0;
                    padding-left: 72px;
                }

                img {
                    @include media(767) {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 99px;
                    }

                    @include media(450) {
                        width: 60px;
                    }
                }

                h3 {
                    @include media(991) {
                        font-size: 16px;
                    }
                }

                p {
                    @include media(991) {
                        font-size: 14px;
                    }
                }
            }

            .order_price {
                @include media(767) {
                    padding: 8px 0 20px 110px;
                }

                @include media(450) {
                    padding: 8px 0 12px 72px;
                }
            }

            .all_price {
                @include media(767) {
                    padding-right: 10px;
                }
            }

            a {
                @include media(767) {
                    margin-right: 10px;
                }
            }
        }
    }

    .calculate {
        width: 121px;
        margin: 0 auto;
        background: white;
        padding: 6px 14px;
        border-radius: 50px;
        gap: 15px;
        font-size: 18px;
        font-weight: 500;

        @include media(991) {
            font-size: 16px;
        }

        @include media(767) {
            margin: 0 0 0 110px;
        }

        @include media(767) {
            margin-left: 0;
            width: 160px;
            gap: 17px;
        }
    }

    .prices {
        margin-bottom: 20px;

        @include media(1199) {
            margin-bottom: 10px;
        }

        @include media(450) {
            flex-direction: column;
            gap: 10px;
        }

        &_left {
            gap: 5px;
        }

        h3 {
            color: $color-red-100;

            @include media(767) {
                font-size: 20px;
            }
        }

        p {
            @include media(767) {
                font-size: 14px;
            }
        }
    }

    .subtitle {
        @include media(767) {
            font-size: 14px;
        }
    }

    &__form {
        gap: 20px;
        padding-top: 20px;

        @include media(1199) {
            padding-top: 11px;
        }

        @include media(991) {
            gap: 10px;
        }

        @include media(767) {
            margin-bottom: 20px;
        }

        label {
            margin-bottom: 10px;

            @include media(991) {
                font-size: 18px;
            }
        }

        textarea {
            resize: none;
            height: 130px;

            @include media(1199) {
                height: 103px;
            }

            @include media(991) {
                height: 94px;
            }

            @include media(767) {
                height: 111px;
            }

            @include media(450) {
                height: 104px;
            }
        }
    }

    span.fs-p4 {
        @include media(767) {
            font-size: 14px;
        }
    }
}
// Order modal end

// Header
.header {
    z-index: 5;
    background: $color-blue-100;

    &__container {
        height: 98px;

        @include media(1199) {
            height: 107px;
            padding-top: 17px;
            padding-bottom: 30px;
        }

        @include media(991) {
            height: auto;
            padding-top: 32px;
            padding-bottom: 32px;
        }

        @include media(991) {
            height: auto;
            padding-top: 26px;
            padding-bottom: 26px;
        }
    }

    &__logo {
        img {
            @include media(1199) {
                height: 29px;
            }

            @include media(991) {
                height: 37px;
            }

            @include media(767) {
                height: 32px;
            }
        }
    }

    &__navs {
        gap: 50px;

        @include media(1199) {
            gap: 40px;
        }

        .navs_dropdown {
            position: relative;

            &__btn {
                gap: 9px;
            }

            ul {
                position: absolute;
                margin-top: 10px;
                background: #fff;
                width: 100px;
                padding: 10px 20px;
                display: none;
                
                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: -10px;
                    width: 100%;
                    height: 10px;
                    background: transform;
                }
            }

            &:hover {
                ul {
                    display: block;
                }
            }
        }
    }

    &__right {
        gap: 30px;

        @include media(1199) {
            gap: 34px;
        }

        &_text {
            gap: 10px;
        }
    }
}
// Header end

// Menu
.menu {
    position: fixed;
    z-index: 4;
    background: white;
    left: 0;
    top: 98px;
    width: 100%;
    padding: 9px 0;
    transition: .3s ease all;
    transform: translateY(-110%);

    @include media(1199) {
        top: 107px;
    }

    @include media(991) {
        top: 89px;
    }

    &.active {
        transform: translateY(0);
    }

    .swiper {
        overflow: visible;
        
        &-slide {
            width: auto;

            a {
                padding: 10px 20px 9px;
                background: $color-gray-200;
                color: $color-blue-100;
                border-radius: 50px;
            }
        }
    }
}
// Menu end

// Home
.home {
    z-index: 1;
    margin-top: 98px;

    @include media(991) {
        margin-top: 89px;
    }

    &__bg {
        z-index: -1;

        @include media(1199) {
            border-radius: 0 0 30px 30px;
        }
    }

    &__container {
        padding: 83px 0 154px;

        @include media(1399) {
            padding: 68px 0 132px;
        }

        @include media(1199) {
            padding: 46px 0 309px;
        }

        @include media(991) {
            padding: 69px 0 400px;
        }

        @include media(767) {
            padding: 69px 0 289px;
        }
    }

    &__title {
        @include media(1399) {
            font-size: 32px;
        }
        
        @include media(991) {
            font-size: 38px;
        }

        @include media(767) {
            font-size: 32px;
        }
    }

    p {
        color: $color-gray-100;
        margin: 17px 0;

        @include media(1399) {
            margin: 15px 0 26px;
            font-size: 20px;
        }

        @include media(992) {
            margin: 15px 0 20px;
            font-size: 24px;
        }

        @include media(767) {
            margin: 15px 0 30px;
            font-size: 20px;
        }
    }

    .btn-red {
        padding: 10px 114px;
        line-height: 138.8%;
    }
}
// Home end

// Cocktail
.cocktail {
    &__head {
        margin-bottom: 25px;

        @include media(1399) {
            margin-bottom: 50px;
        }

        @include media(1199) {
            margin-bottom: 53px;
        }

        @include media(991) {
            margin-bottom: 25px;
        }
    }

    &__title {
        @include media(1399) {
            font-size: 32px;
        }

        @include media(767) {
            font-size: 28px;
        }
    }

    ul {
        @include media(-1399) {
            margin-bottom: 30px;
            gap: 20px;
        }
    }

    .swp_btn {
        gap: 25px;

        button {
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .swiper {
        @include media(-1399) {
            overflow: visible;
        }

        @include media(1399) {
            height: 720px;
        }

        &-wrapper {
            @include media(-1399) {
                flex-wrap: wrap;
            }
        }
    }

    &__card {
        background: $color-gray-200;
        border-radius: 30px;
        padding: 17px 20px 18px;
        height: 339px;
        position: relative;
        
        @include media(-1399) {
            width: calc(20% - 16px);
            display: none;
        }
        
        &.active {
            display: block;
        }

        .icon {
            display: none;
            position: absolute;
            top: 20px;
            right: 20px;

            @include media(1399) {
                display: block;

                &.active {
                    display: none;
                }
            }
        }

        .card {
            &__head {
                height: 172px;
                margin-bottom: 14px;
            }

            &__calculate {
                font-family: $font-m-plus-1p;
                border-radius: 10px;
                height: 38px;
                gap: 15px;
                margin-top: 20px;
            }

            &__hover {
                display: none;

                .fs-p4:nth-child(2) {
                    color: $color-gray-300;
                    margin-bottom: 5px;
                }
            }
        }

        p {
            line-height: 150%;
        }

        // &:hover {
        //     p {
        //         display: none;
        //     }

        //     .icon {
        //         @include media(1399) {
        //             display: none;

        //             &.active {
        //                 display: block;
        //             }
        //         }
        //     }

        //     .card {
        //         &__calculate {
        //             display: none !important;
        //         }

        //         &__hover {
        //             display: block;

        //             p {
        //                 display: block;

        //                 &:last-child {
        //                     line-height: 120%;
        //                 }
        //             }
        //         }
        //     }
        // }

        .card__head:hover ~ .card__hover {
            display: block;
        }

        .card__head:hover ~ p,
        .card__head:hover ~ .icon,
        .card__head:hover ~ .card__calculate {
            display: none !important;
        }
    }

    .btn-red {
        padding: 9px 91px 10px;
    }
}
// Cocktail end

// Galerea
.galerea {
    &__title {
        margin-bottom: 25px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 30px;

        @include media(767) {
            border-radius: 20px;
        }
    }

    .img {
        &_big {
            &-1 {
                height: 574;

                @include media(1399) {
                    height: 495px;
                }

                @include media(1199) {
                    height: 631px;
                }

                @include media(991) {
                    height: 473px;
                }

                @include media(767) {
                    height: 355px;
                }
            }

            &-2 {
                height: 627px;

                @include media(1399) {
                    height: 542px;
                }

                @include media(1199) {
                    height: 503px;
                }

                @include media(991) {
                    height: 377px;
                }

                @include media(767) {
                    height: 283px;
                }
            }
        }

        &_small {
            &-1 {
                height: 277px;

                @include media(1399) {
                    height: 239px;
                }

                @include media(1199) {
                    height: 309px;
                }

                @include media(991) {
                    height: 228px;
                }

                @include media(767) {
                    height: 169px;
                }
            }
            
            &-2 {
                height: 277px;

                @include media(1399) {
                    height: 239px;
                }

                @include media(1199) {
                    height: 246px;
                }

                @include media(991) {
                    height: 184px;
                }

                @include media(768) {
                    height: 135px;
                }
            }

            &-3 {
                height: 328px;

                @include media(1399) {
                    height: 283px;
                }

                @include media(1199) {
                    height: 241px;
                }

                @include media(991) {
                    height: 179px;
                }

                @include media(767) {
                    height: 132px;
                }
            }
        }
    }
}
// Galerea end

// Steps
.steps {
    &__container {
        background: $color-gr-red;
        border-radius: 30px;
        padding: 40px 40px 25px;
        z-index: 1;
        overflow: hidden;

        @include media(1399) {
            padding: 43px 40px 25px;
        }

        @include media(767) {
            padding: 38px 27px 29px;
        }
    }

    &__title {
        margin-bottom: 10px;

        @include media(1399) {
            font-size: 32px;
        }

        @include media(767) {
            font-size: 28px;
        }
    }

    &__subtitle {
        margin-bottom: 221px;

        @include media(1399) {
            margin-bottom: 223px;
        }

        @include media(767) {
            margin-bottom: 193px;
        }
    }

    &__bg {
        z-index: -1;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        min-width: 830px;

        @include media(991) {
            min-width: 849px;
        }

        @include media(767) {
            min-width: 699px;
        }
    }
}
// Steps end

// partner
.partner {
    .partner_title {
        margin-bottom: 25px;

        .fs-h2 {
            max-width: 513px;
            text-transform: uppercase;

            @include media(1201) {
                font-size: 32px;
                line-height: 36px;
            }

            @include media(577) {
                font-size: 28px;
                line-height: 31px;
            }
        }

        .partner_btns {
            gap: 25px;
            display: none;

            @include media(1201) {
                display: flex;
            }
        }

        .title_desktop_btn {
            color: #000000;
            border-radius: 10px;
            padding: 13px 46px 14px;
            font-family: $font-m-plus-1p;
            font-size: 20px;
            font-weight: 500;
            border: 1px solid $color-dark-100;

            @include media(1201) {
                display: none;
            }
        }
    }

    .partner_card {
        border-radius: 30px;
        overflow: hidden;
        background: #F5F5F5;

        img {
            width: 100%;
        }

        .partner_card_text {
            display: flex;
            flex-direction: column;
            gap: 7px;
            padding: 23px 20px 30px 20px;

            span {
                font-size: 14px;
                font-weight: 400;
                line-height: 18.12px;
                color: #000000;
            }

            p {
                font-size: 20px;
                font-weight: 400;
                line-height: 28.6px;
                color: #000000;
            }
        }
    }

    .partner_slider {
        .desktop_btn {
            @include media(1201) {
                display: none;
            }
        }
    }

    .slider_media_btn {
        display: none;
        color: #000000;
        border-radius: 10px;
        padding: 13px 46px 14px;
        font-family: $font-m-plus-1p;
        font-size: 20px;
        font-weight: 500;
        border: 1px solid $color-dark-100;
        margin-top: 20px;

        @include media(1201) {
            display: flex;
            margin: 20px auto 0;
        }
    }

    .partner_btn {
        min-width: 50px;
        min-height: 50px;
    }
}
// partner

// clients
.clients {
    .fs-h2 {
        text-transform: uppercase;

        @include media(1201) {
            font-size: 32px;
            line-height: 36px;
        }

        @include media(577) {
            font-size: 28px;
            line-height: 31px;
        }
    }

    .clients_title {
        margin-bottom: 16px;
    }

    .clients_btns {
        gap: 25px;

        button {
            width: 50px;
            height: 50px;
        }
    }

    .clients_logos {
        justify-content: space-between;
        align-items: center;
        height: 352px;

        img {
            filter: grayscale(100%);
        }
    }
}
// clients

// comment
.comment {

    .comment_title {
        margin-bottom: 25px;

        @include media(1201) {
            flex-direction: column;
            gap: 11px;
        }

        .fs-h2 {
            text-transform: uppercase;

            @include media(1201) {
                font-size: 32px;
                line-height: 36px;
            }

            @include media(577) {
                font-size: 28px;
                line-height: 31px;
            }
        }

        p {
            max-width: 491px;
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.01em;
            color: #000000;

            @include media(1201) {
                max-width: 871px;
            }
        }
    }

    .desktop_btn {
        @include media(1201) {
            display: none;
        }
    }

    .comment_slider {
        @include media(1201) {
            flex-direction: column;
            gap: 25px;
        }
    }

    .comment_media_btns {
        display: none;
        gap: 25px;

        @include media(1201) {
            display: flex;
        }
    }

    .commentSwiper {
        width: 100%;
    }

    .comment_card {
        padding: 34px 20px;
        border-radius: 30px;
        background: #F5F5F5;

        span {
            font-size: 14px;
            font-weight: 400;
            line-height: 18.12px;   
            color: #000000;
        }
    
        h6 {
            margin-top: 7px;
            font-size: 22px;    
            font-weight: 400;
            line-height: 31.46px;
            color: #000000;
        }

        p {
            font-size: 18px;
            font-weight: 400;
            line-height: 22.5px;
            color: #000000;
        }
    }

    .share_btn {
        top: 20px;
        right: 20px;
    }

    .comment_top {
        gap: 18px;
        margin-bottom: 32px;
    }

    .comment_btn {
        min-width: 50px;
        min-height: 50px;
    }

}
// comment

// contact
.contact {
    &_in {
        padding: 57px;
        border-radius: 30px;
        background: $color-blue-100;

        @include media(769) {
            padding: 45px;
        }
    }

    h3 {
        font-size: 32px;
        font-weight: 700;
        line-height: 40px;
        color: $color-gray-200;
        margin-bottom: 10px;

        @include media(577) {
            font-size: 28px;
            line-height: 35px;
            margin-bottom: 15px;
        }
    }

    p {
        margin: 0 auto 46px auto;
        max-width: 692px;
        font-size: 22px;
        font-weight: 400;
        line-height: 27.5px;    
        color: $color-gray-200;

        @include media(769) {
            margin: 0 auto 30px auto;
        }

        @include media(577) {
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 30px;
        }
    }

    form {
        gap: 20px;

        @include media(769) {
            flex-direction: column;
            align-items: center;
        }

        @include media(577) {
            gap: 10px;
        }
    }

    input {
        width: 270px;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        color: $color-gray-300;
        padding: 14px 20px;
        background: #221A48;
        border-radius: 10px;

        @include media(769) {
            width: 400px;
        }

        @include media(577) {
            width: 100%;
            height: 45px;
        }
    }

    button {
        width: 296px;

        @include media(769) {
            width: 400px;
        }

        @include media(577) {
            width: 100%;
            margin-top: 15px;
            height: 45px;
        }
    }

    span {
        font-size: 14px;
        font-weight: 400;
        line-height: 18.12px;
        color: $color-gray-300;
        margin-top: 20px;

        @include media(577) {
            margin-top: 15px;
        }
    }
}
// contact

// footer
.footer {
    background: $color-blue-100;
    padding: 45px 0 72px;

    @include media(767) {
        padding: 30px 0;
    }

    &_imgs {
        display: flex;
        gap: 36px;
        margin-bottom: 100px;

        @include media(1201) {
            gap: 33px;
        }

        @include media(993) {
            gap: 25px;
        }

        @include media(769) {
            margin-bottom: 40px;
        }

        @include media(767) {
            display: none;
        }
    }

    .footer_imgs_media {
        display: none;
        margin-bottom: 50px;

        @include media(767) {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .footer_imgs_media_top {
            gap: 14px;
        }

        img {
            height: 126px;
            object-fit: cover;
        }
    }

    &_image {
        flex: 1;
        img {
            width: 100%;
        }
    }

    .footer_img_bg {
        background: linear-gradient(180.00deg, rgba(17, 9, 54, 0),rgb(17, 9, 54) 100%);
        z-index: 2;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    h6 {
        z-index: 3;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        color: #FFFBFB;
        bottom: 20px;
        left: 20px;
        right: 20px;

        @include media(767) {
            bottom: 15px;
            left: 15px;
        }
    }

    &_link {
        max-width: 709px;
        gap: 22px 32px;

        @include media(1201) {
            max-width: 439px;
        }

        @include media(767) {
            max-width: 100%;
            gap: 25px 30px;
        }

        a {
            font-size: 18px;
            font-weight: 400;
            line-height: 22.5px;
            color: $color-red-100;

            @include media(767) {
                font-size: 16px;
                line-height: 20px;
            }
        }
    }

    &_center {
        gap: 62px;
        margin-bottom: 35px;

        @include media(993) {
            gap: 40px;
            flex-direction: column;
        }
    }

    &_contact {
        display: flex;
        width: 550px;
        gap: 22px;

        @include media(767) {
            display: none;
        }

        span {
            font-size: 18px;
            font-weight: 400;
            line-height: 22.5px;
            color: $color-gray-300;
        }

        &_block {
            gap: 7px;
        }
        
        a,
        address {
            font-size: 20px;
            font-weight: 400;
            line-height: 25px;
            color: $color-gray-200;
        }
    }

    &_bottom {
        display: flex;

        @include media(769) {
            display: none;
        }

        .footer_text {
            gap: 25px;
        }

        p,
        span {
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            color: $color-gray-200;
            display: inline;

            a {
                display: inline;
                text-decoration: underline;
            }
        }
    }

    &_social {
        width: 600px;
        gap: 87px;

        &_media {
            gap: 21px;

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 45px;
                height: 45px;
                border-radius: 50%;
                background: #150C46;
            }
        }

        .footer_bank {
            gap: 21px;
        }
        
    }

    .media_center {
        display: none;
        align-items: start;

        .footer_contact {
            width: auto;
        }

        .footer_social {
            width: auto;
            gap: 22px 27px;
            display: flex;
            flex-direction: column;
            align-items: end;

            @include media(765) {
                width: 100%;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }
        }

        span {
            color: #6F5E91;
            font-size: 16px;
            line-height: 20px;
        }

        a , address{
            font-size: 18px;
            line-height: 22px;
        }

        @include media(769) {
            display: flex;
        }

        @include media(765) {
            flex-direction: column;
            gap: 35px;

        }
    }

    .media_bottom {
        display: none;
        margin-top: 40px;

        p,
        span {
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            color: $color-gray-200;
            display: inline;

            a {
                display: inline;
                text-decoration: underline;
            }
        }

        span {
            font-weight: 700;
        }

        @include media(769) {
            display: flex;
            flex-direction: column;
            gap: 25px;
        }
    }
}
// footer

// Skills
.skills {
    &__card {
        position: relative;
        overflow: hidden;
        z-index: 1;

        &.first {
            p {
                max-width: 530px;

                @include media(1399) {
                    font-size: 20px;
                }

                @include media(1199) {
                    max-width: 100%;
                }
            }
        }

        &:not(.first) {
            min-height: 194px;
            border-radius: 20px;
            background: #F5F5F5;
            padding: 15px 20px 15px 51px;
            
            @include media(1199) {
                padding: 15px 24px 15px 38px;
            }
            
            @include media(767) {
                padding: 15px 5px 15px 11px;
            }
        }

        img {
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: -1;

            @include media(1399) {
                width: 134px;
            }

            @include media(1199) {
                width: 154px;
            }

            @include media(767) {
                width: 144px;
            }
        }
    }
}
// Skills end

// Help
.help {
    &__container {
        background: $color-blue-100;
        padding: 16px 46px 16px 58px;
        border-radius: 30px;

        @include media(1199) {
            padding: 26px 30px 35px;
        }
    }

    .btn-red {
        padding: 0;
        height: 47px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        @include media(1199) {
            width: 293px;
            margin-top: 23px;
        }
    }

    &__text {
        gap: 39px;
    }

    &__operator {
        img {
            width: 74px;
            flex-shrink: 0;
            height: 74px;
            border-radius: 50%;

            @include media(1199) {
                width: 100px;
                height: 100%;
            }
        }
    }

    .fs-h3 {
        @include media(1399) {
            font-size: 20px;
            line-height: 125%;
        }
    }
}
// Help end

// Vishes
.vishes {
    &__title {
        max-width: 582px;
        margin-bottom: 25px;
    }

    &__card {
        gap: 15px;
    }
}
// Vishes end

// Advantage
.advantage {
    &__title {
        margin-bottom: 25px;
    }


    &__card {
        background: $color-gray-200;
        border-radius: 20px;
        padding: 20px;
        position: relative;
        min-height: 200px;
    }

    .text {
        &__top {
            color: #F82179;
            gap: 10px;

            span {
                display: inline-block;
                width: auto;
            }
        }

        &__bottom {
            gap: 10px;

            .fs-p4 {
                color: #7B7B7B;
            }
        }
    }
}
// Advantage end

// working
.working {
    &__title {
        margin-bottom: 16px;
    }


    &__card {
        box-shadow: 0 0 20px rgba(170, 170, 170, 0.2);
        border-radius: 10px;
        padding: 27px 30px;
        min-height: 328px;
        position: relative;
        overflow: hidden;
        z-index: 1;

        @include media(1199) {
            min-height: 268px;
        }

        @include media(991) {
            padding: 27px 20px;
        }

        img {
            position: absolute;
            z-index: -1;
        }

        &-1 {
            img {
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &-2 {
            img {
                bottom: 56px;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &-3 {
            img {
                bottom: 0;
                left: 0;
                width: 100%;
            }
        }

        &-4 {
            img {
                bottom: 0;
                left: 0;
                width: 100%;
            }
        }
    }
}
// working end

// accardion
.faq {
    .fs-h2 {
        text-transform: uppercase;
        margin-bottom: 25px;

        @include media(1201) {
            font-size: 32px;
            line-height: 36px;
        }

        @include media(577) {
            font-size: 28px;
            line-height: 31px;
        }
    }

    .accordion {
        gap: 20px;

        @include media(1201) {
            gap: 10px;
        }

        button {
            position: relative;
            text-align: left;
            width: 100%;
            padding: 13px 20px;
            color: #7288a2;
            font-size: 1.15rem;
            font-weight: 400;
            border: none;
            background: none;
            outline: none;
        }
    
        .accordion_item{
            border-radius: 20px;
            background: #F5F5F5;

            .icon {
                min-width: 50px;
                min-height: 50px;
            }
        }
    
        button .accordion-title {
            font-size: 20px;
            font-weight: 400;
            line-height: 25px;
            letter-spacing: 0.01em; 
            color: #000000;
        }
    
        button[aria-expanded='true'] .icon::after {
            width: 0;
        }

        button[aria-expanded='true'] + .accordion-content {
            opacity: 1;
            max-height: 15em;
            transition: all 200ms linear;
            will-change: opacity, max-height;
        }

        .accordion-content {
            border-radius: 20px;
            background: #E8E8E8;
            opacity: 0;
            max-height: 0;
            overflow: hidden;
            transition: opacity 200ms linear, max-height 200ms linear;
            will-change: opacity, max-height;
            display: flex;
            flex-direction: column;
            gap: 15px;

            p {
                padding: 0 20px;
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: 0.01em;
                color: #000000; 
            }

            .text_start {
                padding-top: 15px;
            }

            .text_end {
                padding-bottom: 15px;
            }
        }
    }
}
// accardion