@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=M+PLUS+1p&display=swap');

@mixin media($value) {
    @if ($value < 0) {
        @media screen and (min-width: calc($value * (-1)) + 'px') {
            @content;
        }

    } @else {
        @media screen and (max-width: $value + 'px') {
            @content;
        }
    }
}

$font-pt-sans: "PT Sans", sans-serif;
$font-m-plus-1p: "M PLUS 1p", sans-serif;
$font-exo-2: "Exo 2", sans-serif;

$color-dark-100: #070707;
$color-blue-100: #110936;
$color-red-100: #F82179;
$color-gray-100: #BEBEBE;
$color-gray-200: #F5F5F5;
$color-gray-300: #888888;
$color-gray-400: #989898;
$color-gray-500: #757575;

$color-gr-red: linear-gradient(to right, #C70253, #F82179);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent !important;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}


img {
    max-width: 100%;
}

span, label {
    display: inline-block;
}

html {
    scroll-behavior: smooth;
}

input, textarea {
    outline: none;
    border: 0;
    background: transparent;
}

button {
    border: none;
    cursor: pointer;
    background: transparent;
    outline: 0;
}

address {
    font-style: normal;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

ul, ol, dl {
    list-style: none;
    padding: 0;
    margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

body {
    font-family: $font-pt-sans;
    font-weight: 400;
}

.container {
    padding: 0;
}

.font {
    &-m-plus-1p {
        font-family: $font-m-plus-1p;
    }

    &-exo-2 {
        font-family: $font-exo-2;
    }
}

.fs {
    &-h1 {
        font-size: 38px;
        line-height: 126%;
    }

    &-h2 {
        font-size: 36px;
        line-height: 125%;
        color: $color-blue-100;
        font-weight: bold;
    }

    &-h3 {
        font-size: 28px;
        line-height: 125%;
    }

    &-h6 {
        font-size: 24px;
        line-height: 125%;
    }

    &-p1 {
        font-size: 22px;
        line-height: 125%;
    }

    &-p2 {
        font-size: 20px;
        line-height: 138.8%;
    }

    &-p3 {
        font-size: 18px;
        line-height: 137.4%;
    }
    
    &-p4 {
        line-height: 137.4%;
        font-size: 16px;
    }

    &-p5 {
        font-size: 14px;
    }

    &-p6 {
        font-size: 12px;
    }
}

.btn {
    &-red {
        background: $color-red-100;
        text-align: center;
        padding: 10px 36px;
        color: #fff;
        border-radius: 10px;
        cursor: pointer;
        user-select: none;
    }

    &-dark {
        background: $color-dark-100;
        color: #fff;
        border-radius: 10px;
        padding: 13px 46px 14px;
        font-family: $font-m-plus-1p;
        font-style: 20px;
        font-weight: 500;
    }

    &-gray {
        background: $color-gray-400;
        border-radius: 10px;
        padding: 10px 68px;
        color: white;
    }
}

section {
    margin-bottom: 60px;
}

.inp {
    &-gray {
        width: 100%;
        background: $color-gray-200;
        font-size: 20px;
        line-height: 125%;
        padding: 13px 20px;
        border-radius: 10px;
        color: $color-blue-100;
        
        &::placeholder {
            color: $color-gray-500;
        }
    }
}

.range_inp {
    label {
        margin-bottom: 41px;
    }

    &__slide {
        width: 100%;
        height: 8px;
        background: $color-gray-200;
        margin-bottom: 2px;
        border-radius: 50px;
        position: relative;

        &_line {
            position: absolute;
            top: 0;
            left: 0;
            height: 8px;
            width: 30%;
            background: $color-red-100;
            border-radius: 50px;
        }

        span {
            font-size: 20px;
            line-height: 125%;
            position: absolute;
            top: -5px;
            left: 30%;
            transform: translate(-50%, -100%);
            background: $color-gray-200;
            padding: 1px 15px;
            border-radius: 50px;
        }

        input {
            width: 100%;
            position: absolute;
            left: 0;
            height: 8px;
            opacity: 0;
            cursor: pointer;
        }
    }
}

// Main modal
.main_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 5;

    &.active {
        display: flex;
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
    }

    &__content {
        position: relative;
        z-index: 2;

        .swiper {
            width: 1020px;

            &-slide:not(.swiper-slide-active) {
                height: 0;
                overflow: hidden;
            }
        }

        &_in {
            background: #fff;
            width: 1020px;
            min-height: 727px;
            border-radius: 30px;
            padding: 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &_foot {
            button {
                width: 196px;
                height: 47px;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    &__subtitle {
        color: $color-blue-100;
        margin-bottom: 30px;
    }
}
// Main modal end

// Quiz modal
.modal_quiz {
    &__content {
        color: $color-blue-100;

        h3 {
            color: $color-red-100;
            margin-bottom: 30px;
        }

        .range_inp {
            margin-bottom: 20px;
        }
    }

    &__select {
        gap: 20px;

        li {
            width: calc(25% - 15px);
            box-shadow: 0 4px 20px rgba(170, 170, 170, 0.2);
            border-radius: 10px;
            text-align: center;
            min-height: 205px;
            position: relative;
            padding-top: 33px;
            user-select: none;
            cursor: pointer;
            border: 2px solid transparent;

            img {
                width: 100%;
                height: 119px;
                object-fit: contain;
            }

            &:nth-child(1) {
                img {
                    height: 105px;
                }
            }

            p {
                position: absolute;
                bottom: 18px;
                left: 18px;
                width: calc(100% - 36px);
            }

            &.active {
                border-color: $color-red-100;
            }
        }
    }

    &__prices {
        gap: 20px;

        li {
            width: calc(100% / 3 - 40px / 3);
            background: $color-gray-200;
            padding: 12px 38px 27px;
            text-align: center;
            border-radius: 10px;
            cursor: pointer;
            user-select: none;

            img {
                &.active {
                    display: none;
                    margin-bottom: 10px;
                }
            }

            .price {
                display: none;
                margin-top: 10px;
            }

            &.active {
                background: $color-red-100;
                color: white;

                img {
                    display: none;

                    &.active {
                        display: inline;
                    }
                }

                .price {
                    display: block;
                }
            }
        }
    }

    &__foot {
        .price_wrap {
            background: $color-gray-200;
            border-radius: 10px;
            padding: 14px 20px 12px;
        }

        ul {
            gap: 3px;
        }

        h4 {
            color: $color-red-100;
        }

        p {
            margin: 10px 0 20px;
        }
    }

    &__form {
        gap: 20px;
        padding-top: 20px;
        margin-bottom: 18px;

        label {
            margin-bottom: 10px;
        }
    }

    &__checkbox {
        gap: 10px;
        user-select: none;
        cursor: pointer;
        
        input {
            display: none;
        }

        .icon {
            width: 19px;
            height: 19px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            border: 1px solid $color-red-100;
            border-radius: 2px;

            img {
                display: none;
            }
        }

        input:checked + .icon img {
            display: block;
        }

        a {
            text-decoration: underline;
        }
    }
}
// Quiz modal end

// Header
.header {
    z-index: 3;
    background: $color-blue-100;

    &__container {
        height: 98px;
    }

    &__navs {
        gap: 50px;

        .navs_dropdown {
            position: relative;

            &__btn {
                gap: 9px;
            }

            ul {
                position: absolute;
                margin-top: 10px;
                background: #fff;
                width: 100px;
                padding: 10px 20px;
                display: none;
                
                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: -10px;
                    width: 100%;
                    height: 10px;
                    background: transform;
                }
            }

            &:hover {
                ul {
                    display: block;
                }
            }
        }
    }

    &__right {
        gap: 30px;

        &_text {
            gap: 10px;
        }
    }
}
// Header end

// Menu
.menu {
    position: fixed;
    z-index: 2;
    background: white;
    left: 0;
    top: 98px;
    width: 100%;
    padding: 9px 0;
    transition: .3s ease all;
    transform: translateY(-110%);

    &.active {
        transform: translateY(0);
    }

    .swiper {
        overflow: visible;
        
        &-slide {
            width: auto;

            a {
                padding: 10px 20px 9px;
                background: $color-gray-200;
                color: $color-blue-100;
                border-radius: 50px;
            }
        }
    }
}
// Menu end

// Home
.home {
    z-index: 1;
    margin-top: 98px;

    &__bg {
        z-index: -1;
    }

    &__container {
        padding: 83px 0 154px;
    }

    p {
        color: $color-gray-100;
    }

    .btn-red {
        padding: 10px 114px;
        line-height: 138.8%;
    }
}
// Home end

// Cocktail
.cocktail {
    &__title {
        margin-bottom: 25px;
    }

    ul {
        gap: 20px;
        margin-bottom: 30px;
    }

    &__card {
        width: calc(20% - 16px);
        background: $color-gray-200;
        border-radius: 30px;
        padding: 17px 20px 18px;
        display: none;
        
        &.active {
            display: block;
        }

        .card {
            &__head {
                height: 172px;
                margin-bottom: 14px;
            }

            &__calculate {
                font-family: $font-m-plus-1p;
                border-radius: 10px;
                height: 38px;
                gap: 15px;
                margin-top: 20px;
            }

            &__hover {
                display: none;

                .fs-p4:nth-child(2) {
                    color: $color-gray-300;
                    margin-bottom: 5px;
                }
            }
        }

        p {
            line-height: 150%;
        }

        &:hover {
            p {
                display: none;
            }

            .card {
                &__calculate {
                    display: none !important;
                }

                &__hover {
                    display: block;

                    p {
                        display: block;

                        &:last-child {
                            line-height: 120%;
                        }
                    }
                }
            }
        }
    }

    .btn-red {
        padding: 9px 91px 10px;
    }
}
// Cocktail end

// Galerea
.galerea {
    &__title {
        margin-bottom: 25px;
    }

    &__example {
        gap: 20px;

        img {
            width: 100%;
            object-fit: cover;
            border-radius: 30px;
        }

        .small_img {
            width: 100%;
            height: 277px;
        }

        &_left {
            width: calc(100% / 3 * 2 - 10px);
            gap: 22px;

            img:not(.small_img) {
                height: 328px;
            }

            .left_top {
                gap: 20px;


                img:not(.small_img) {
                    height: 574px;
                    width: calc(50% - 10px);
                }

                &__item {
                    gap: 18px;
                    width: calc(50% - 10px);
                }
            }
        }

        &_right {
            width: calc(100% / 3 - 10px);
            gap: 20px;

            img:not(.small_img) {
                height: 627px;
            }
        }
    }
}
// Galerea end

// Steps
.steps {
    &__container {
        background: $color-gr-red;
        border-radius: 30px;
        padding: 40px 40px 25px;
        z-index: 1;
        overflow: hidden;
    }

    &__title {
        margin-bottom: 10px;
    }

    &__subtitle {
        margin-bottom: 221px;
    }

    &__bg {
        z-index: -1;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        min-width: 830px;
    }
}
// Steps end

// partner
.partner {
    .partner_title {
        margin-bottom: 25px;

        .fs-h2 {
            max-width: 513px;
            text-transform: uppercase;

            @include media(1201) {
                font-size: 32px;
                line-height: 36px;
            }

            @include media(577) {
                font-size: 28px;
                line-height: 31px;
            }
        }

        .partner_btns {
            gap: 25px;
            display: none;

            @include media(1201) {
                display: flex;
            }
        }

        .title_desktop_btn {
            color: #000000;
            border-radius: 10px;
            padding: 13px 46px 14px;
            font-family: $font-m-plus-1p;
            font-size: 20px;
            font-weight: 500;
            border: 1px solid $color-dark-100;

            @include media(1201) {
                display: none;
            }
        }
    }

    .partner_card {
        border-radius: 30px;
        overflow: hidden;
        background: #F5F5F5;

        img {
            width: 100%;
        }

        .partner_card_text {
            display: flex;
            flex-direction: column;
            gap: 7px;
            padding: 23px 20px 30px 20px;

            span {
                font-size: 14px;
                font-weight: 400;
                line-height: 18.12px;
                color: #000000;
            }

            p {
                font-size: 20px;
                font-weight: 400;
                line-height: 28.6px;
                color: #000000;
            }
        }
    }

    .partner_slider {
        .desktop_btn {
            @include media(1201) {
                display: none;
            }
        }
    }

    .slider_media_btn {
        display: none;
        color: #000000;
        border-radius: 10px;
        padding: 13px 46px 14px;
        font-family: $font-m-plus-1p;
        font-size: 20px;
        font-weight: 500;
        border: 1px solid $color-dark-100;
        margin-top: 20px;

        @include media(1201) {
            display: flex;
            margin: 20px auto 0;
        }
    }

    .partner_btn {
        min-width: 50px;
        min-height: 50px;
    }
}
// partner

// clients
.clients {
    .fs-h2 {
        text-transform: uppercase;

        @include media(1201) {
            font-size: 32px;
            line-height: 36px;
        }

        @include media(577) {
            font-size: 28px;
            line-height: 31px;
        }
    }

    .clients_title {
        margin-bottom: 16px;
    }

    .clients_btns {
        gap: 25px;

        button {
            width: 50px;
            height: 50px;
        }
    }

    .clients_logos {
        justify-content: space-between;
        align-items: center;
        height: 352px;

        img {
            filter: grayscale(100%);
        }
    }
}
// clients

// comment
.comment {

    .comment_title {
        margin-bottom: 25px;

        @include media(1201) {
            flex-direction: column;
            gap: 11px;
        }

        .fs-h2 {
            text-transform: uppercase;

            @include media(1201) {
                font-size: 32px;
                line-height: 36px;
            }

            @include media(577) {
                font-size: 28px;
                line-height: 31px;
            }
        }

        p {
            max-width: 491px;
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.01em;
            color: #000000;

            @include media(1201) {
                max-width: 871px;
            }
        }
    }

    .desktop_btn {
        @include media(1201) {
            display: none;
        }
    }

    .comment_slider {
        @include media(1201) {
            flex-direction: column;
            gap: 25px;
        }
    }

    .comment_media_btns {
        display: none;
        gap: 25px;

        @include media(1201) {
            display: flex;
        }
    }

    .commentSwiper {
        width: 100%;
    }

    .comment_card {
        padding: 34px 20px;
        border-radius: 30px;
        background: #F5F5F5;

        span {
            font-size: 14px;
            font-weight: 400;
            line-height: 18.12px;   
            color: #000000;
        }
    
        h6 {
            margin-top: 7px;
            font-size: 22px;    
            font-weight: 400;
            line-height: 31.46px;
            color: #000000;
        }

        p {
            font-size: 18px;
            font-weight: 400;
            line-height: 22.5px;
            color: #000000;
        }
    }

    .share_btn {
        top: 20px;
        right: 20px;
    }

    .comment_top {
        gap: 18px;
        margin-bottom: 32px;
    }

    .comment_btn {
        min-width: 50px;
        min-height: 50px;
    }

}
// comment

// contact
.contact {
    &_in {
        padding: 57px;
        border-radius: 30px;
        background: $color-blue-100;

        @include media(769) {
            padding: 45px;
        }
    }

    h3 {
        font-size: 32px;
        font-weight: 700;
        line-height: 40px;
        color: $color-gray-200;
        margin-bottom: 10px;

        @include media(577) {
            font-size: 28px;
            line-height: 35px;
            margin-bottom: 15px;
        }
    }

    p {
        margin: 0 auto 46px auto;
        max-width: 692px;
        font-size: 22px;
        font-weight: 400;
        line-height: 27.5px;    
        color: $color-gray-200;

        @include media(577) {
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 30px;
        }
    }

    form {
        gap: 20px;

        @include media(769) {
            flex-direction: column;
            align-items: center;
        }

        @include media(577) {
            gap: 10px;
        }
    }

    input {
        width: 270px;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        color: $color-gray-300;
        padding: 14px 20px;
        background: #221A48;
        border-radius: 10px;

        @include media(769) {
            width: 400px;
        }

        @include media(577) {
            width: 100%;
        }
    }

    button {
        width: 296px;

        @include media(769) {
            width: 400px;
        }

        @include media(577) {
            width: 100%;
            margin-top: 15px;
        }
    }

    span {
        font-size: 14px;
        font-weight: 400;
        line-height: 18.12px;
        color: $color-gray-300;
        margin-top: 20px;

        @include media(577) {
            margin-top: 15px;
        }
    }
}
// contact

// footer
.footer {
    background: $color-blue-100;
    padding: 45px 0 72px;

    &_imgs {
        gap: 36px;
        margin-bottom: 100px;
    }

    &_image {
        flex: 1;
        img {
            width: 100%;
        }
    }

    .footer_img_bg {
        background: linear-gradient(180.00deg, rgba(17, 9, 54, 0),rgb(17, 9, 54) 100%);
        z-index: 2;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    h6 {
        z-index: 3;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        color: #FFFBFB;
        bottom: 20px;
        left: 20px;
        right: 20px;
    }

    &_link {
        max-width: 709px;
        gap: 22px 32px;

        a {
            font-size: 18px;
            font-weight: 400;
            line-height: 22.5px;
            color: $color-red-100;
        }
    }

    &_center {
        gap: 62px;
        margin-bottom: 35px;
    }

    &_contact {
        width: 550px;
        gap: 22px 217px;
        span {
            font-size: 18px;
            font-weight: 400;
            line-height: 22.5px;
            color: $color-gray-300;
        }

        &_block {
            gap: 7px;
        }
        
        a,
        address {
            font-size: 20px;
            font-weight: 400;
            line-height: 25px;
            color: $color-gray-200;
        }
    }

    &_bottom {

        .footer_text {
            gap: 25px;
        }

        p,
        span {
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            color: $color-gray-200;
            display: inline;

            a {
                display: inline;
                text-decoration: underline;
            }
        }
    }

    &_social {
        width: 600px;
        gap: 87px;

        &_media {
            gap: 21px;

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 45px;
                height: 45px;
                border-radius: 50%;
                background: #150C46;
            }
        }

        .footer_bank {
            gap: 21px;
        }
        
    }
}
// footer

// Skills
.skills {
    &__container {
        gap: 20px;
    }

    li {
        width: calc(25% - 15px);
        position: relative;
        overflow: hidden;
        z-index: 1;

        &:nth-child(1) {
            width: calc(50% - 10px);

            p {
                max-width: 530px;
            }
        }

        &:not(:first-child) {
            min-height: 194px;
            border-radius: 20px;
            background: #F5F5F5;
            padding: 15px 20px 15px 51px;
        }

        img {
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: -1;
        }
    }
}
// Skills end

// Help
.help {
    &__container {
        background: $color-blue-100;
        padding: 16px 46px 16px 58px;
        border-radius: 30px;
    }

    .btn-red {
        padding: 9px 59px 10px;
    }

    &__text {
        gap: 39px;
    }

    &__operator {
        img {
            width: 74px;
            flex-shrink: 0;
            height: 74px;
            border-radius: 50%;
        }
    }
}
// Help end

// Vishes
.vishes {
    &__title {
        max-width: 582px;
        margin-bottom: 25px;
    }

    ul {
        gap: 50px;

        li {
            width: calc(100% - 25px);
            gap: 15px;
        }
    }
}
// Vishes end

// Advantage
.advantage {
    &__title {
        margin-bottom: 25px;
    }

    ul {
        gap: 20px;

        li {
            width: calc(100% / 3 - 40px / 3);
            background: $color-gray-200;
            border-radius: 20px;
            padding: 20px;
            position: relative;
            min-height: 200px;
        }

        .text {
            &__top {
                color: #F82179;
            }

            &__bottom {
                .fs-p4 {
                    color: #7B7B7B;
                }
            }
        }
    }
}
// Advantage end

// working
.working {
    &__title {
        margin-bottom: 16px;
    }

    ul {
        gap: 20px;

        li {
            width: 100%;
            box-shadow: 0 0 20px rgba(170, 170, 170, 0.2);
            border-radius: 10px;
            padding: 27px 30px;
            min-height: 328px;
            position: relative;
            overflow: hidden;
            z-index: 1;

            img {
                position: absolute;
                z-index: -1;
            }

            &:nth-child(1) {
                img {
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }

            &:nth-child(2) {
                img {
                    bottom: 56px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }

            &:nth-child(3) {
                img {
                    bottom: 0;
                    left: 0;
                    width: 100%;
                }
            }

            &:nth-child(4) {
                img {
                    bottom: 0;
                    left: 0;
                    width: 100%;
                }
            }
        }
    }
}
// working end

// accardion
.faq {
    .fs-h2 {
        text-transform: uppercase;
        margin-bottom: 25px;
    }

    .accordion {
        gap: 20px;

        button {
            position: relative;
            text-align: left;
            width: 100%;
            padding: 13px 20px;
            color: #7288a2;
            font-size: 1.15rem;
            font-weight: 400;
            border: none;
            background: none;
            outline: none;
        }
    
        .accordion_item{
            border-radius: 20px;
            background: #F5F5F5;

            .icon {
                min-width: 50px;
                min-height: 50px;
            }
        }
    
        button .accordion-title {
            font-size: 20px;
            font-weight: 400;
            line-height: 25px;
            letter-spacing: 0.01em; 
            color: #000000;
        }
    
        button[aria-expanded='true'] .icon::after {
            width: 0;
        }

        button[aria-expanded='true'] + .accordion-content {
            opacity: 1;
            max-height: 9em;
            transition: all 200ms linear;
            will-change: opacity, max-height;
        }

        .accordion-content {
            border-radius: 20px;
            background: #E8E8E8;
            opacity: 0;
            max-height: 0;
            overflow: hidden;
            transition: opacity 200ms linear, max-height 200ms linear;
            will-change: opacity, max-height;
            display: flex;
            flex-direction: column;
            gap: 15px;

            p {
                padding: 0 20px;
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: 0.01em;
                color: #000000; 
            }

            .text_start {
                padding-top: 15px;
            }

            .text_end {
                padding-bottom: 15px;
            }
        }
    }
}
// accardion