@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=M+PLUS+1p&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent !important;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img {
  max-width: 100%;
}

span, label {
  display: inline-block;
}

html {
  scroll-behavior: smooth;
}

input, textarea {
  outline: none;
  border: 0;
  background: transparent;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
  outline: 0;
}

address {
  font-style: normal;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

ul, ol, dl {
  list-style: none;
  padding: 0;
  margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
}

.container {
  padding: 0;
}
@media screen and (max-width: 575px) {
  .container {
    width: calc(100% - 36px);
  }
}

.font-m-plus-1p {
  font-family: "M PLUS 1p", sans-serif;
}
.font-exo-2 {
  font-family: "Exo 2", sans-serif;
}

.fs-h1 {
  font-size: 38px;
  line-height: 126%;
}
.fs-h2 {
  font-size: 36px;
  line-height: 125%;
  color: #110936;
  font-weight: bold;
}
.fs-h3 {
  font-size: 28px;
  line-height: 125%;
}
.fs-h6 {
  font-size: 24px;
  line-height: 125%;
}
.fs-p1 {
  font-size: 22px;
  line-height: 125%;
}
.fs-p2 {
  font-size: 20px;
  line-height: 138.8%;
}
.fs-p3 {
  font-size: 18px;
  line-height: 137.4%;
}
.fs-p4 {
  line-height: 137.4%;
  font-size: 16px;
}
.fs-p5 {
  font-size: 14px;
}
.fs-p6 {
  font-size: 12px;
}

.btn-red {
  background: #F82179;
  text-align: center;
  padding: 10px 36px;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.btn-dark {
  background: #070707;
  color: #fff;
  border-radius: 10px;
  padding: 13px 46px 14px;
  font-family: "M PLUS 1p", sans-serif;
  font-style: 20px;
  font-weight: 500;
}
.btn-gray {
  background: #989898;
  border-radius: 10px;
  padding: 10px 68px;
  color: white;
}

section {
  margin-bottom: 60px;
}

.inp-gray {
  width: 100%;
  background: #F5F5F5;
  font-size: 20px;
  line-height: 125%;
  padding: 13px 20px;
  border-radius: 10px;
  color: #110936;
}
@media screen and (max-width: 991px) {
  .inp-gray {
    font-size: 16px;
    padding: 13px 20px 18px;
  }
}
.inp-gray::-moz-placeholder {
  color: #757575;
}
.inp-gray::placeholder {
  color: #757575;
}

.range_inp label {
  margin-bottom: 41px;
}
@media screen and (max-width: 767px) {
  .range_inp label {
    font-size: 18px;
  }
}
.range_inp__slide {
  width: 100%;
  height: 8px;
  background: #F5F5F5;
  margin-bottom: 2px;
  border-radius: 50px;
  position: relative;
}
.range_inp__slide_line {
  position: absolute;
  top: 0;
  left: 0;
  height: 8px;
  width: 30%;
  background: #F82179;
  border-radius: 50px;
}
.range_inp__slide span {
  font-size: 20px;
  line-height: 125%;
  position: absolute;
  top: -5px;
  left: 30%;
  transform: translate(-50%, -100%);
  background: #F5F5F5;
  padding: 1px 15px;
  border-radius: 50px;
}
.range_inp__slide input {
  width: 100%;
  position: absolute;
  left: 0;
  height: 8px;
  opacity: 0;
  cursor: pointer;
}

.main_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.main_modal.active {
  display: flex;
}
.main_modal__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.main_modal__content {
  position: relative;
  z-index: 2;
}
.main_modal__content .swiper {
  width: 1020px;
}
@media screen and (max-width: 1199px) {
  .main_modal__content .swiper {
    width: 960px;
  }
}
@media screen and (max-width: 991px) {
  .main_modal__content .swiper {
    width: 720px;
  }
}
@media screen and (max-width: 767px) {
  .main_modal__content .swiper {
    width: calc(100vw - 36px);
  }
}
.main_modal__content .swiper-slide:not(.swiper-slide-active) {
  height: 0;
  overflow: hidden;
}
.main_modal__content_in {
  background: #fff;
  width: 1020px;
  min-height: 727px;
  border-radius: 30px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 1199px) {
  .main_modal__content_in {
    width: 960px;
    min-height: 673px;
    padding: 38px 60px;
  }
}
@media screen and (max-width: 991px) {
  .main_modal__content_in {
    width: 720px;
    min-height: 577px;
    padding: 30px;
    border-radius: 20px;
  }
}
@media screen and (max-width: 767px) {
  .main_modal__content_in {
    width: calc(100vw - 36px);
    min-height: 778px;
    padding: 36px 20px 30px;
  }
}
.main_modal__content_foot {
  gap: 10px;
}
.main_modal__content_foot button {
  width: 196px;
  height: 47px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .main_modal__content_foot button {
    width: 100% !important;
  }
}
.main_modal__content_foot .btn-red {
  width: auto;
  padding: 0 67px;
}
.main_modal__subtitle {
  color: #110936;
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .main_modal__subtitle {
    font-size: 18px;
    margin-bottom: 20px;
  }
}

.modal_quiz__content {
  color: #110936;
}
.modal_quiz__content h3 {
  color: #F82179;
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .modal_quiz__content h3 {
    margin-bottom: 20px;
  }
}
.modal_quiz__content .range_inp {
  margin-bottom: 20px;
}
@media screen and (max-width: 991px) {
  .modal_quiz__select_wrap {
    height: 341px;
    overflow-y: scroll;
  }
  .modal_quiz__select_wrap::-webkit-scrollbar {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .modal_quiz__select_wrap {
    height: 437px;
  }
}
.modal_quiz__select_card {
  box-shadow: 0 4px 20px rgba(170, 170, 170, 0.2);
  border-radius: 10px;
  text-align: center;
  min-height: 205px;
  position: relative;
  padding-top: 33px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  border: 2px solid transparent;
}
@media screen and (max-width: 1199px) {
  .modal_quiz__select_card {
    min-height: 183px;
    padding-top: 30px;
  }
}
@media screen and (max-width: 767px) {
  .modal_quiz__select_card {
    min-height: 148px;
  }
}
.modal_quiz__select_card img {
  width: 100%;
  height: 119px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 1199px) {
  .modal_quiz__select_card img {
    height: 106px;
  }
}
@media screen and (max-width: 767px) {
  .modal_quiz__select_card img {
    height: 87px;
  }
}
.modal_quiz__select_card.first img {
  height: 105px;
}
@media screen and (max-width: 1199px) {
  .modal_quiz__select_card.first img {
    height: 93px;
  }
}
@media screen and (max-width: 767px) {
  .modal_quiz__select_card.first img {
    height: 64px;
  }
}
.modal_quiz__select_card p {
  position: absolute;
  bottom: 18px;
  left: 18px;
  width: calc(100% - 36px);
}
@media screen and (max-width: 1199px) {
  .modal_quiz__select_card p {
    bottom: 15px;
    left: 10px;
    width: calc(100% - 20px);
  }
}
@media screen and (max-width: 767px) {
  .modal_quiz__select_card p {
    bottom: 10px;
    left: 6px;
    width: calc(100% + 12px);
    font-size: 14px;
  }
}
.modal_quiz__select_card.active {
  border-color: #F82179;
}
.modal_quiz__prices_card {
  background: #F5F5F5;
  padding: 12px 38px 27px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media screen and (max-width: 991px) {
  .modal_quiz__prices_card {
    padding: 15px 11px 38px;
  }
}
@media screen and (max-width: 767px) {
  .modal_quiz__prices_card {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 12px 20px;
  }
}
.modal_quiz__prices_card img {
  margin-bottom: 10px;
}
@media screen and (max-width: 991px) {
  .modal_quiz__prices_card img {
    height: 39px;
  }
}
@media screen and (max-width: 767px) {
  .modal_quiz__prices_card img {
    height: 30px;
  }
}
.modal_quiz__prices_card img.active {
  display: none;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .modal_quiz__prices_card img.active {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 991px) {
  .modal_quiz__prices_card p {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  .modal_quiz__prices_card p {
    text-align: left;
  }
}
@media screen and (max-width: 450px) {
  .modal_quiz__prices_card p {
    line-height: 100% !important;
  }
}
.modal_quiz__prices_card .price {
  display: none;
  margin-top: 10px;
}
@media screen and (max-width: 767px) {
  .modal_quiz__prices_card .price {
    margin-top: 5px;
  }
}
.modal_quiz__prices_card.active {
  background: #F82179;
  color: white;
}
.modal_quiz__prices_card.active img {
  display: none;
}
.modal_quiz__prices_card.active img.active {
  display: inline;
}
.modal_quiz__prices_card.active .price {
  display: block;
}
.modal_quiz__foot .price_wrap {
  background: #F5F5F5;
  border-radius: 10px;
  padding: 14px 20px 12px;
}
@media screen and (max-width: 450px) {
  .modal_quiz__foot .price_wrap {
    flex-direction: column !important;
    padding: 14px 20px 20px;
  }
}
.modal_quiz__foot ul {
  gap: 3px;
}
@media screen and (max-width: 450px) {
  .modal_quiz__foot ul {
    width: 100%;
    border-bottom: 1px solid #E3E3E3;
    padding-bottom: 5px;
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 1199px) {
  .modal_quiz__foot ul li {
    font-size: 14px;
  }
}
.modal_quiz__foot h4 {
  color: #F82179;
}
@media screen and (max-width: 450px) {
  .modal_quiz__foot h4 {
    width: 100%;
  }
}
.modal_quiz__foot p {
  margin: 10px 0 20px;
}
@media screen and (max-width: 991px) {
  .modal_quiz__foot p {
    font-size: 14px;
  }
}
.modal_quiz__form {
  gap: 20px;
  padding-top: 20px;
  margin-bottom: 18px;
}
@media screen and (max-width: 991px) {
  .modal_quiz__form {
    gap: 10px;
  }
}
@media screen and (max-width: 767px) {
  .modal_quiz__form {
    margin-bottom: 10px;
  }
}
.modal_quiz__form label {
  margin-bottom: 10px;
}
@media screen and (max-width: 991px) {
  .modal_quiz__form label {
    font-size: 18px;
  }
}
@media screen and (max-width: 991px) {
  .modal_quiz__form {
    margin-top: 10px;
  }
}
.modal_quiz__checkbox {
  gap: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.modal_quiz__checkbox input {
  display: none;
}
.modal_quiz__checkbox .icon {
  width: 19px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border: 1px solid #F82179;
  border-radius: 2px;
}
.modal_quiz__checkbox .icon img {
  display: none;
}
.modal_quiz__checkbox input:checked + .icon img {
  display: block;
}
.modal_quiz__checkbox a {
  text-decoration: underline;
}

.header {
  z-index: 5;
  background: #110936;
}
.header__container {
  height: 98px;
}
@media screen and (max-width: 1199px) {
  .header__container {
    height: 107px;
    padding-top: 17px;
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 991px) {
  .header__container {
    height: auto;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media screen and (max-width: 991px) {
  .header__container {
    height: auto;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media screen and (max-width: 1199px) {
  .header__logo img {
    height: 29px;
  }
}
@media screen and (max-width: 991px) {
  .header__logo img {
    height: 37px;
  }
}
@media screen and (max-width: 767px) {
  .header__logo img {
    height: 32px;
  }
}
.header__navs {
  gap: 50px;
}
@media screen and (max-width: 1199px) {
  .header__navs {
    gap: 40px;
  }
}
.header__navs .navs_dropdown {
  position: relative;
}
.header__navs .navs_dropdown__btn {
  gap: 9px;
}
.header__navs .navs_dropdown ul {
  position: absolute;
  margin-top: 10px;
  background: #fff;
  width: 100px;
  padding: 10px 20px;
  display: none;
}
.header__navs .navs_dropdown ul::after {
  content: "";
  position: absolute;
  left: 0;
  top: -10px;
  width: 100%;
  height: 10px;
  background: transform;
}
.header__navs .navs_dropdown:hover ul {
  display: block;
}
.header__right {
  gap: 30px;
}
@media screen and (max-width: 1199px) {
  .header__right {
    gap: 34px;
  }
}
.header__right_text {
  gap: 10px;
}

.menu {
  position: fixed;
  z-index: 4;
  background: white;
  left: 0;
  top: 98px;
  width: 100%;
  padding: 9px 0;
  transition: 0.3s ease all;
  transform: translateY(-110%);
}
@media screen and (max-width: 1199px) {
  .menu {
    top: 107px;
  }
}
@media screen and (max-width: 991px) {
  .menu {
    top: 89px;
  }
}
.menu.active {
  transform: translateY(0);
}
.menu .swiper {
  overflow: visible;
}
.menu .swiper-slide {
  width: auto;
}
.menu .swiper-slide a {
  padding: 10px 20px 9px;
  background: #F5F5F5;
  color: #110936;
  border-radius: 50px;
}

.home {
  z-index: 1;
  margin-top: 98px;
}
@media screen and (max-width: 991px) {
  .home {
    margin-top: 89px;
  }
}
.home__bg {
  z-index: -1;
}
@media screen and (max-width: 1199px) {
  .home__bg {
    border-radius: 0 0 30px 30px;
  }
}
.home__container {
  padding: 83px 0 154px;
}
@media screen and (max-width: 1399px) {
  .home__container {
    padding: 68px 0 132px;
  }
}
@media screen and (max-width: 1199px) {
  .home__container {
    padding: 46px 0 309px;
  }
}
@media screen and (max-width: 991px) {
  .home__container {
    padding: 69px 0 400px;
  }
}
@media screen and (max-width: 767px) {
  .home__container {
    padding: 69px 0 289px;
  }
}
@media screen and (max-width: 1399px) {
  .home__title {
    font-size: 32px;
  }
}
@media screen and (max-width: 991px) {
  .home__title {
    font-size: 38px;
  }
}
@media screen and (max-width: 767px) {
  .home__title {
    font-size: 32px;
  }
}
.home p {
  color: #BEBEBE;
  margin: 17px 0;
}
@media screen and (max-width: 1399px) {
  .home p {
    margin: 15px 0 26px;
    font-size: 20px;
  }
}
@media screen and (max-width: 992px) {
  .home p {
    margin: 15px 0 20px;
    font-size: 24px;
  }
}
@media screen and (max-width: 767px) {
  .home p {
    margin: 15px 0 30px;
    font-size: 20px;
  }
}
.home .btn-red {
  padding: 10px 114px;
  line-height: 138.8%;
}

.cocktail__head {
  margin-bottom: 25px;
}
@media screen and (max-width: 1399px) {
  .cocktail__head {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 1199px) {
  .cocktail__head {
    margin-bottom: 53px;
  }
}
@media screen and (max-width: 991px) {
  .cocktail__head {
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 1399px) {
  .cocktail__title {
    font-size: 32px;
  }
}
@media screen and (max-width: 767px) {
  .cocktail__title {
    font-size: 28px;
  }
}
@media screen and (min-width: 1399px) {
  .cocktail ul {
    margin-bottom: 30px;
    gap: 20px;
  }
}
.cocktail .swp_btn {
  gap: 25px;
}
.cocktail .swp_btn button {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1399px) {
  .cocktail .swiper {
    overflow: visible;
  }
}
@media screen and (max-width: 1399px) {
  .cocktail .swiper {
    height: 720px;
  }
}
@media screen and (min-width: 1399px) {
  .cocktail .swiper-wrapper {
    flex-wrap: wrap;
  }
}
.cocktail__card {
  background: #F5F5F5;
  border-radius: 30px;
  padding: 17px 20px 18px;
  height: 339px;
  position: relative;
}
@media screen and (min-width: 1399px) {
  .cocktail__card {
    width: calc(20% - 16px);
    display: none;
  }
}
.cocktail__card.active {
  display: block;
}
.cocktail__card .icon {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
}
@media screen and (max-width: 1399px) {
  .cocktail__card .icon {
    display: block;
  }
  .cocktail__card .icon.active {
    display: none;
  }
}
.cocktail__card .card__head {
  height: 172px;
  margin-bottom: 14px;
}
.cocktail__card .card__calculate {
  font-family: "M PLUS 1p", sans-serif;
  border-radius: 10px;
  height: 38px;
  gap: 15px;
  margin-top: 20px;
}
.cocktail__card .card__hover {
  display: none;
}
.cocktail__card .card__hover .fs-p4:nth-child(2) {
  color: #888888;
  margin-bottom: 5px;
}
.cocktail__card p {
  line-height: 150%;
}
.cocktail__card:hover p {
  display: none;
}
@media screen and (max-width: 1399px) {
  .cocktail__card:hover .icon {
    display: none;
  }
  .cocktail__card:hover .icon.active {
    display: block;
  }
}
.cocktail__card:hover .card__calculate {
  display: none !important;
}
.cocktail__card:hover .card__hover {
  display: block;
}
.cocktail__card:hover .card__hover p {
  display: block;
}
.cocktail__card:hover .card__hover p:last-child {
  line-height: 120%;
}
.cocktail .btn-red {
  padding: 9px 91px 10px;
}

.galerea__title {
  margin-bottom: 25px;
}
.galerea img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
}
@media screen and (max-width: 767px) {
  .galerea img {
    border-radius: 20px;
  }
}
.galerea .img_big-1 {
  height: 574;
}
@media screen and (max-width: 1399px) {
  .galerea .img_big-1 {
    height: 495px;
  }
}
@media screen and (max-width: 1199px) {
  .galerea .img_big-1 {
    height: 631px;
  }
}
@media screen and (max-width: 991px) {
  .galerea .img_big-1 {
    height: 473px;
  }
}
@media screen and (max-width: 767px) {
  .galerea .img_big-1 {
    height: 355px;
  }
}
.galerea .img_big-2 {
  height: 627px;
}
@media screen and (max-width: 1399px) {
  .galerea .img_big-2 {
    height: 542px;
  }
}
@media screen and (max-width: 1199px) {
  .galerea .img_big-2 {
    height: 503px;
  }
}
@media screen and (max-width: 991px) {
  .galerea .img_big-2 {
    height: 377px;
  }
}
@media screen and (max-width: 767px) {
  .galerea .img_big-2 {
    height: 283px;
  }
}
.galerea .img_small-1 {
  height: 277px;
}
@media screen and (max-width: 1399px) {
  .galerea .img_small-1 {
    height: 239px;
  }
}
@media screen and (max-width: 1199px) {
  .galerea .img_small-1 {
    height: 309px;
  }
}
@media screen and (max-width: 991px) {
  .galerea .img_small-1 {
    height: 228px;
  }
}
@media screen and (max-width: 767px) {
  .galerea .img_small-1 {
    height: 169px;
  }
}
.galerea .img_small-2 {
  height: 277px;
}
@media screen and (max-width: 1399px) {
  .galerea .img_small-2 {
    height: 239px;
  }
}
@media screen and (max-width: 1199px) {
  .galerea .img_small-2 {
    height: 246px;
  }
}
@media screen and (max-width: 991px) {
  .galerea .img_small-2 {
    height: 184px;
  }
}
@media screen and (max-width: 768px) {
  .galerea .img_small-2 {
    height: 135px;
  }
}
.galerea .img_small-3 {
  height: 328px;
}
@media screen and (max-width: 1399px) {
  .galerea .img_small-3 {
    height: 283px;
  }
}
@media screen and (max-width: 1199px) {
  .galerea .img_small-3 {
    height: 241px;
  }
}
@media screen and (max-width: 991px) {
  .galerea .img_small-3 {
    height: 179px;
  }
}
@media screen and (max-width: 767px) {
  .galerea .img_small-3 {
    height: 132px;
  }
}

.steps__container {
  background: linear-gradient(to right, #C70253, #F82179);
  border-radius: 30px;
  padding: 40px 40px 25px;
  z-index: 1;
  overflow: hidden;
}
@media screen and (max-width: 1399px) {
  .steps__container {
    padding: 43px 40px 25px;
  }
}
@media screen and (max-width: 767px) {
  .steps__container {
    padding: 38px 27px 29px;
  }
}
.steps__title {
  margin-bottom: 10px;
}
@media screen and (max-width: 1399px) {
  .steps__title {
    font-size: 32px;
  }
}
@media screen and (max-width: 767px) {
  .steps__title {
    font-size: 28px;
  }
}
.steps__subtitle {
  margin-bottom: 221px;
}
@media screen and (max-width: 1399px) {
  .steps__subtitle {
    margin-bottom: 223px;
  }
}
@media screen and (max-width: 767px) {
  .steps__subtitle {
    margin-bottom: 193px;
  }
}
.steps__bg {
  z-index: -1;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  min-width: 830px;
}
@media screen and (max-width: 991px) {
  .steps__bg {
    min-width: 849px;
  }
}
@media screen and (max-width: 767px) {
  .steps__bg {
    min-width: 699px;
  }
}

.partner .partner_title {
  margin-bottom: 25px;
}
.partner .partner_title .fs-h2 {
  max-width: 513px;
  text-transform: uppercase;
}
@media screen and (max-width: 1201px) {
  .partner .partner_title .fs-h2 {
    font-size: 32px;
    line-height: 36px;
  }
}
@media screen and (max-width: 577px) {
  .partner .partner_title .fs-h2 {
    font-size: 28px;
    line-height: 31px;
  }
}
.partner .partner_title .partner_btns {
  gap: 25px;
  display: none;
}
@media screen and (max-width: 1201px) {
  .partner .partner_title .partner_btns {
    display: flex;
  }
}
.partner .partner_title .title_desktop_btn {
  color: #000000;
  border-radius: 10px;
  padding: 13px 46px 14px;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 20px;
  font-weight: 500;
  border: 1px solid #070707;
}
@media screen and (max-width: 1201px) {
  .partner .partner_title .title_desktop_btn {
    display: none;
  }
}
.partner .partner_card {
  border-radius: 30px;
  overflow: hidden;
  background: #F5F5F5;
}
.partner .partner_card img {
  width: 100%;
}
.partner .partner_card .partner_card_text {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 23px 20px 30px 20px;
}
.partner .partner_card .partner_card_text span {
  font-size: 14px;
  font-weight: 400;
  line-height: 18.12px;
  color: #000000;
}
.partner .partner_card .partner_card_text p {
  font-size: 20px;
  font-weight: 400;
  line-height: 28.6px;
  color: #000000;
}
@media screen and (max-width: 1201px) {
  .partner .partner_slider .desktop_btn {
    display: none;
  }
}
.partner .slider_media_btn {
  display: none;
  color: #000000;
  border-radius: 10px;
  padding: 13px 46px 14px;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 20px;
  font-weight: 500;
  border: 1px solid #070707;
  margin-top: 20px;
}
@media screen and (max-width: 1201px) {
  .partner .slider_media_btn {
    display: flex;
    margin: 20px auto 0;
  }
}
.partner .partner_btn {
  min-width: 50px;
  min-height: 50px;
}

.clients .fs-h2 {
  text-transform: uppercase;
}
@media screen and (max-width: 1201px) {
  .clients .fs-h2 {
    font-size: 32px;
    line-height: 36px;
  }
}
@media screen and (max-width: 577px) {
  .clients .fs-h2 {
    font-size: 28px;
    line-height: 31px;
  }
}
.clients .clients_title {
  margin-bottom: 16px;
}
.clients .clients_btns {
  gap: 25px;
}
.clients .clients_btns button {
  width: 50px;
  height: 50px;
}
.clients .clients_logos {
  justify-content: space-between;
  align-items: center;
  height: 352px;
}
.clients .clients_logos img {
  filter: grayscale(100%);
}

.comment .comment_title {
  margin-bottom: 25px;
}
@media screen and (max-width: 1201px) {
  .comment .comment_title {
    flex-direction: column;
    gap: 11px;
  }
}
.comment .comment_title .fs-h2 {
  text-transform: uppercase;
}
@media screen and (max-width: 1201px) {
  .comment .comment_title .fs-h2 {
    font-size: 32px;
    line-height: 36px;
  }
}
@media screen and (max-width: 577px) {
  .comment .comment_title .fs-h2 {
    font-size: 28px;
    line-height: 31px;
  }
}
.comment .comment_title p {
  max-width: 491px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #000000;
}
@media screen and (max-width: 1201px) {
  .comment .comment_title p {
    max-width: 871px;
  }
}
@media screen and (max-width: 1201px) {
  .comment .desktop_btn {
    display: none;
  }
}
@media screen and (max-width: 1201px) {
  .comment .comment_slider {
    flex-direction: column;
    gap: 25px;
  }
}
.comment .comment_media_btns {
  display: none;
  gap: 25px;
}
@media screen and (max-width: 1201px) {
  .comment .comment_media_btns {
    display: flex;
  }
}
.comment .commentSwiper {
  width: 100%;
}
.comment .comment_card {
  padding: 34px 20px;
  border-radius: 30px;
  background: #F5F5F5;
}
.comment .comment_card span {
  font-size: 14px;
  font-weight: 400;
  line-height: 18.12px;
  color: #000000;
}
.comment .comment_card h6 {
  margin-top: 7px;
  font-size: 22px;
  font-weight: 400;
  line-height: 31.46px;
  color: #000000;
}
.comment .comment_card p {
  font-size: 18px;
  font-weight: 400;
  line-height: 22.5px;
  color: #000000;
}
.comment .share_btn {
  top: 20px;
  right: 20px;
}
.comment .comment_top {
  gap: 18px;
  margin-bottom: 32px;
}
.comment .comment_btn {
  min-width: 50px;
  min-height: 50px;
}

.contact_in {
  padding: 57px;
  border-radius: 30px;
  background: #110936;
}
@media screen and (max-width: 769px) {
  .contact_in {
    padding: 45px;
  }
}
.contact h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  color: #F5F5F5;
  margin-bottom: 10px;
}
@media screen and (max-width: 577px) {
  .contact h3 {
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 15px;
  }
}
.contact p {
  margin: 0 auto 46px auto;
  max-width: 692px;
  font-size: 22px;
  font-weight: 400;
  line-height: 27.5px;
  color: #F5F5F5;
}
@media screen and (max-width: 769px) {
  .contact p {
    margin: 0 auto 30px auto;
  }
}
@media screen and (max-width: 577px) {
  .contact p {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 30px;
  }
}
.contact form {
  gap: 20px;
}
@media screen and (max-width: 769px) {
  .contact form {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 577px) {
  .contact form {
    gap: 10px;
  }
}
.contact input {
  width: 270px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #888888;
  padding: 14px 20px;
  background: #221A48;
  border-radius: 10px;
}
@media screen and (max-width: 769px) {
  .contact input {
    width: 400px;
  }
}
@media screen and (max-width: 577px) {
  .contact input {
    width: 100%;
    height: 45px;
  }
}
.contact button {
  width: 296px;
}
@media screen and (max-width: 769px) {
  .contact button {
    width: 400px;
  }
}
@media screen and (max-width: 577px) {
  .contact button {
    width: 100%;
    margin-top: 15px;
    height: 45px;
  }
}
.contact span {
  font-size: 14px;
  font-weight: 400;
  line-height: 18.12px;
  color: #888888;
  margin-top: 20px;
}
@media screen and (max-width: 577px) {
  .contact span {
    margin-top: 15px;
  }
}

.footer {
  background: #110936;
  padding: 45px 0 72px;
}
@media screen and (max-width: 767px) {
  .footer {
    padding: 30px 0;
  }
}
.footer_imgs {
  display: flex;
  gap: 36px;
  margin-bottom: 100px;
}
@media screen and (max-width: 1201px) {
  .footer_imgs {
    gap: 33px;
  }
}
@media screen and (max-width: 993px) {
  .footer_imgs {
    gap: 25px;
  }
}
@media screen and (max-width: 769px) {
  .footer_imgs {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 767px) {
  .footer_imgs {
    display: none;
  }
}
.footer .footer_imgs_media {
  display: none;
  margin-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .footer .footer_imgs_media {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
.footer .footer_imgs_media .footer_imgs_media_top {
  gap: 14px;
}
.footer .footer_imgs_media img {
  height: 126px;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer_image {
  flex: 1;
}
.footer_image img {
  width: 100%;
}
.footer .footer_img_bg {
  background: linear-gradient(180deg, rgba(17, 9, 54, 0), rgb(17, 9, 54) 100%);
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.footer h6 {
  z-index: 3;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #FFFBFB;
  bottom: 20px;
  left: 20px;
  right: 20px;
}
@media screen and (max-width: 767px) {
  .footer h6 {
    bottom: 15px;
    left: 15px;
  }
}
.footer_link {
  max-width: 709px;
  gap: 22px 32px;
}
@media screen and (max-width: 1201px) {
  .footer_link {
    max-width: 439px;
  }
}
@media screen and (max-width: 767px) {
  .footer_link {
    max-width: 100%;
    gap: 25px 30px;
  }
}
.footer_link a {
  font-size: 18px;
  font-weight: 400;
  line-height: 22.5px;
  color: #F82179;
}
@media screen and (max-width: 767px) {
  .footer_link a {
    font-size: 16px;
    line-height: 20px;
  }
}
.footer_center {
  gap: 62px;
  margin-bottom: 35px;
}
@media screen and (max-width: 993px) {
  .footer_center {
    gap: 40px;
    flex-direction: column;
  }
}
.footer_contact {
  display: flex;
  width: 550px;
  gap: 22px;
}
@media screen and (max-width: 767px) {
  .footer_contact {
    display: none;
  }
}
.footer_contact span {
  font-size: 18px;
  font-weight: 400;
  line-height: 22.5px;
  color: #888888;
}
.footer_contact_block {
  gap: 7px;
}
.footer_contact a,
.footer_contact address {
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  color: #F5F5F5;
}
.footer_bottom {
  display: flex;
}
@media screen and (max-width: 769px) {
  .footer_bottom {
    display: none;
  }
}
.footer_bottom .footer_text {
  gap: 25px;
}
.footer_bottom p,
.footer_bottom span {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #F5F5F5;
  display: inline;
}
.footer_bottom p a,
.footer_bottom span a {
  display: inline;
  text-decoration: underline;
}
.footer_social {
  width: 600px;
  gap: 87px;
}
.footer_social_media {
  gap: 21px;
}
.footer_social_media a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #150C46;
}
.footer_social .footer_bank {
  gap: 21px;
}
.footer .media_center {
  display: none;
  align-items: start;
}
.footer .media_center .footer_contact {
  width: auto;
}
.footer .media_center .footer_social {
  width: auto;
  gap: 22px 27px;
  display: flex;
  flex-direction: column;
  align-items: end;
}
@media screen and (max-width: 765px) {
  .footer .media_center .footer_social {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
.footer .media_center span {
  color: #6F5E91;
  font-size: 16px;
  line-height: 20px;
}
.footer .media_center a, .footer .media_center address {
  font-size: 18px;
  line-height: 22px;
}
@media screen and (max-width: 769px) {
  .footer .media_center {
    display: flex;
  }
}
@media screen and (max-width: 765px) {
  .footer .media_center {
    flex-direction: column;
    gap: 35px;
  }
}
.footer .media_bottom {
  display: none;
  margin-top: 40px;
}
.footer .media_bottom p,
.footer .media_bottom span {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #F5F5F5;
  display: inline;
}
.footer .media_bottom p a,
.footer .media_bottom span a {
  display: inline;
  text-decoration: underline;
}
.footer .media_bottom span {
  font-weight: 700;
}
@media screen and (max-width: 769px) {
  .footer .media_bottom {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
}

.skills__card {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.skills__card.first p {
  max-width: 530px;
}
@media screen and (max-width: 1399px) {
  .skills__card.first p {
    font-size: 20px;
  }
}
@media screen and (max-width: 1199px) {
  .skills__card.first p {
    max-width: 100%;
  }
}
.skills__card:not(.first) {
  min-height: 194px;
  border-radius: 20px;
  background: #F5F5F5;
  padding: 15px 20px 15px 51px;
}
@media screen and (max-width: 1199px) {
  .skills__card:not(.first) {
    padding: 15px 24px 15px 38px;
  }
}
@media screen and (max-width: 767px) {
  .skills__card:not(.first) {
    padding: 15px 5px 15px 11px;
  }
}
.skills__card img {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}
@media screen and (max-width: 1399px) {
  .skills__card img {
    width: 134px;
  }
}
@media screen and (max-width: 1199px) {
  .skills__card img {
    width: 154px;
  }
}
@media screen and (max-width: 767px) {
  .skills__card img {
    width: 144px;
  }
}

.help__container {
  background: #110936;
  padding: 16px 46px 16px 58px;
  border-radius: 30px;
}
@media screen and (max-width: 1199px) {
  .help__container {
    padding: 26px 30px 35px;
  }
}
.help .btn-red {
  padding: 0;
  height: 47px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1199px) {
  .help .btn-red {
    width: 293px;
    margin-top: 23px;
  }
}
.help__text {
  gap: 39px;
}
.help__operator img {
  width: 74px;
  flex-shrink: 0;
  height: 74px;
  border-radius: 50%;
}
@media screen and (max-width: 1199px) {
  .help__operator img {
    width: 100px;
    height: 100%;
  }
}
@media screen and (max-width: 1399px) {
  .help .fs-h3 {
    font-size: 20px;
    line-height: 125%;
  }
}

.vishes__title {
  max-width: 582px;
  margin-bottom: 25px;
}
.vishes__card {
  gap: 15px;
}

.advantage__title {
  margin-bottom: 25px;
}
.advantage__card {
  background: #F5F5F5;
  border-radius: 20px;
  padding: 20px;
  position: relative;
  min-height: 200px;
}
.advantage .text__top {
  color: #F82179;
  gap: 10px;
}
.advantage .text__top span {
  display: inline-block;
  width: auto;
}
.advantage .text__bottom {
  gap: 10px;
}
.advantage .text__bottom .fs-p4 {
  color: #7B7B7B;
}

.working__title {
  margin-bottom: 16px;
}
.working__card {
  box-shadow: 0 0 20px rgba(170, 170, 170, 0.2);
  border-radius: 10px;
  padding: 27px 30px;
  min-height: 328px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
@media screen and (max-width: 1199px) {
  .working__card {
    min-height: 268px;
  }
}
@media screen and (max-width: 991px) {
  .working__card {
    padding: 27px 20px;
  }
}
.working__card img {
  position: absolute;
  z-index: -1;
}
.working__card-1 img {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.working__card-2 img {
  bottom: 56px;
  left: 50%;
  transform: translateX(-50%);
}
.working__card-3 img {
  bottom: 0;
  left: 0;
  width: 100%;
}
.working__card-4 img {
  bottom: 0;
  left: 0;
  width: 100%;
}

.faq .fs-h2 {
  text-transform: uppercase;
  margin-bottom: 25px;
}
@media screen and (max-width: 1201px) {
  .faq .fs-h2 {
    font-size: 32px;
    line-height: 36px;
  }
}
@media screen and (max-width: 577px) {
  .faq .fs-h2 {
    font-size: 28px;
    line-height: 31px;
  }
}
.faq .accordion {
  gap: 20px;
}
@media screen and (max-width: 1201px) {
  .faq .accordion {
    gap: 10px;
  }
}
.faq .accordion button {
  position: relative;
  text-align: left;
  width: 100%;
  padding: 13px 20px;
  color: #7288a2;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}
.faq .accordion .accordion_item {
  border-radius: 20px;
  background: #F5F5F5;
}
.faq .accordion .accordion_item .icon {
  min-width: 50px;
  min-height: 50px;
}
.faq .accordion button .accordion-title {
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.01em;
  color: #000000;
}
.faq .accordion button[aria-expanded=true] .icon::after {
  width: 0;
}
.faq .accordion button[aria-expanded=true] + .accordion-content {
  opacity: 1;
  max-height: 15em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.faq .accordion .accordion-content {
  border-radius: 20px;
  background: #E8E8E8;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.faq .accordion .accordion-content p {
  padding: 0 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #000000;
}
.faq .accordion .accordion-content .text_start {
  padding-top: 15px;
}
.faq .accordion .accordion-content .text_end {
  padding-bottom: 15px;
}/*# sourceMappingURL=style.css.map */